.pastor-image
{
  border-radius: 50%;
  border: 10px;
  max-width: 25%;
  max-height: 25%;
  box-shadow: none;
  transition: transform 0.2s;
  padding-bottom: 0px;
  padding-top: 0px;
  display: inline-flex;
}

.pastor-image:hover
{
  transform: scale(1.1);
}

.gallery 
{
  display: flex;
  transition: transform 0.5s ease-in-out;
  grid-gap: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  box-shadow: none;
}

.gallery.last-child 
{
  margin-right: 0px;
  margin-bottom: 0px;
}

.about p
{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: black;
  font-family: 'Garamond', sans-serif;
}

.about h2
{
  font-size: 46px;
  background-color: transparent;
  color: black;
  padding-top: 10px;
  padding-bottom: 50x;
  margin-bottom: 0px;
  font-weight: bold;
}

div img 
{
  max-width: 100%;
  max-height: 175%;
  border-radius: 5px;
  box-shadow: 3px 3px 5px grey;
  border: 1px solid black;
  vertical-align: middle;
}

a 
{
  color: #333;
  text-decoration: none;
}

body header
{
  background-color: transparent;
}

ul 
{
  list-style-type: none;
}

body 
{
  background-color: whitesmoke;
  font-family: "Garamond", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  align-items: center;
}

h1 
{
  font-size: 48px;
  margin-bottom: 0px;
  color: black;
  font-weight: bold;
  font-style: normal;
}

h2
{
  font-size: 30px;
  font-style: normal;
}

h3 
{
  font-size: 15px;
  font-style: italic;
  text-align: center;
}

button 
{
  display: inline-block;
  padding: 20px 20px;
  border: 1px solid #000;
  border-radius: 10px;
  transition: border-radius 0.0s ease-in-out;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  background-color: transparent;
}

button:hover 
{
  background-color: lightgrey;
  border-radius: 10px;
  border: 1px solid #000;
  transition: border-radius 0.0s ease-in-out;
}

footer
{
  background-color: hsl(210, 85%, 15%);
  align-items: center;
  text-align: center;
  height: auto;
  width: auto;
  padding: 0px;
  margin: inherit;
  border: none;
}

footer h2
{
  color: white;
}

section 
{
  margin: 0px 0px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
}

#nav_copyright .navbar-icons
{
  align-items: center;
  background-color: transparent;
}

#nav_copyright nav img
{
  width: 30px;
  height: 30px;
  max-width: 10%;
  max-height: 10%;
  background-color: transparent;
  box-shadow: none;
  border: none;
  margin-right: 10px;
  display: inherit;
}

#nav_copyright nav
{
  border: none;
  display: table;
  background-color: transparent;
  text-align: center;
  margin: 5px;
  margin-bottom: 0px;
  color: white;
}

#nav_copyright nav ul
{
  display: inline-flex;
  text-align: center;
  align-items: inherit;
  background-color: transparent;
  margin-right: 100px;
  padding: 0;
}

#nav_copyright nav ul li
{
  display: flex;
}

#nav_copyright nav ul li a
{
  display: inline-flex;
  margin: 10px;
  color: white;
}

#nav_copyright nav ul li a:hover
{
  background-color: transparent;
  border: none;
  border-radius: 0px;
  transition: border-radius 0.0s ease-in-out;
  color: hsl(40, 60%, 65%);
  text-decoration: none;
}

#nav_copyright
{
  background-color: hsl(210, 85%, 15%);
  margin: 0;
  padding: 0;
  border: none;
}

#nav_copyright nav div 
{
  text-align: left;
  font-style: italic;
  font-size: 15px;
  color: inherit;
  display: inline-table;
  background-color: transparent;
  margin-right: 80px;
  margin-left: 25px;
  padding: 0;
}

#contact-section
{
  box-sizing: border-box;
  width: 75%;
  border: none;
}

#contact
{
  color: white;
  height: auto;
  width: auto;
  align-content: center;
  text-align: center;
  font-family: "Lato", sans-serif;
  display: flex;
  background-color: transparent;
  box-shadow: transparent;
  border: none;
}

#contact h3
{
  text-align: center;
  background-color: pink;
  font-size: 15px;
}

#contact a
{
  color: white;
  font-style: normal;
  display: inline-grid;
  font-size: 15px;
  font-family: "Lato", fantasy;
}

#contact a:hover
{
  color: hsl(360, 100%, 65%);
  text-decoration: none;
}

#contact h2
{
  margin-top: 0px;
  padding: 5px;
  margin-bottom: 15px;
}

#contact h3
{
  background-color: transparent;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

#contact a
{
  font-size: 15px;
  font-weight: lighter;
  text-transform: none;
  font-family: "Lato", sans-serif;
  display: inline-flex;
  padding-bottom: 15px;
}

#contact a:hover
{
  background-color: transparent;
  border-radius: 10px;
  border: 1px transparent #000;
  /* Set border properties */
  transition: border-radius 0.0s ease-in-out;
  color: hsl(40, 60%, 65%);
}

.line
{
  border-top: 0px transparent;
  margin: 20px 0;
  padding: 0;
  box-shadow: transparent;
}

.google-map
{
  position: relative;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
}

.google-map iframe 
{
  max-height: 50%;
  max-width: 40%;
  background-color: transparent;
  align-content: center;
}

/* Might add form in the future
form 
{
  display: flex;
  flex-direction: column;
}

label 
{
  margin-bottom: 0px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

input[type="name"], input[type="email"], input[type="message"], textarea 
{
  margin-bottom: 20px;
  padding: 10px 5px;
  border: solid;
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  font-family: "Lato", sans-serif;
  transition: background-color 0.3s ease;
}

textarea 
{
  height: 150px;
  width: 450px;
}
*/

head
{
  background-color: white;
}

html
{
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  align-items: center;
  align-content: center;
  overflow: visible;
  background-color: white;
}

.html-site::-webkit-scrollbar 
{
  display: flex;
  overflow: scroll;
}

.html-site::-webkit-scrollbar-track 
{
  background-color: #f1f1f1;
}

/* Define the styles for the scrollbar thumb */

.html-site::-webkit-scrollbar-thumb 
{
  background-color: #888;
  border-radius: 5px;
}

/* Define the styles for the scrollbar corner */

.html-site::-webkit-scrollbar-corner 
{
  background-color: lightgrey;
}

.html-site /* Style the scrollbar resizing handle */
.html-site::-webkit-resizer 
{
  background: #ccc;
  border-radius: 10px;
}

a img
{
  max-width: 5%;
  max-height: 5%;
  border-radius: 0px;
  border: none;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 15px;
  padding: 0px;
}

body h1, h2, h3, p
{
  align-items: center;
  text-align: center;
}

.pastors
{
  background-color: white;
  font-family: "Open Sans", sans-serif;
}

.pastors h2
{
  background-color: transparent;
  color: black;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  font-weight: normal;
}

#pastors h3
{
  font-style: normal;
  font-weight: normal;
  color: black;
  padding: 15px;
  font-size: 20px;
}

.pastors h4
{
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  color: black;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pastors h5
{
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  color: black;
  margin: 0px;
  padding-bottom: 10px;
}

.pastors h4, h5, img
{
  display: inherit;
}

.pastor-grid
{
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0px;
  height: auto;
  background-color: transparent;
}

.pastor
{
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
}

#loading-screen 
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.giving head, body
{
  background-color: transparent;
}

.giving body img
{
  border-radius: 50%;
  border: 10px;
  max-width: 50%;
  max-height: 50%;
  box-shadow: 3px 3px 5px grey;
  transition: transform 0.2s;
  padding-bottom: 0px;
  padding-top: 0px;
  display: flex;
  align-items: center;
}

.giving body h3
{
  font-weight: lighter;
  font-style: normal;
  font-size: 17px;
}

.giving img:hover
{
  transform: scale(1.1);
}

#return-img img
{
  border-radius: 50%;
  border: 10px;
  width: 5%;
  height: 5%;
  padding: 0px;
  box-shadow: 3px 3px 5px grey;
  transition: transform 0.2s;
  padding-bottom: 0px;
  padding-top: 0px;
  display: flex;
  align-items: center;
}

#return-img img:hover
{
  transform: scale(1.1);
}

#services
{
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin-bottom: 0px;
  font-style: "Garamond", serif;
  box-shadow: none;
}

#services h2
{
  font-size: 46px;
  background-color: transparent;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 45px;
  font-weight: bold;
}

.services-grid 
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.service 
{
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
  width: auto;
  height: auto;
}

.service p
{
  font-style: "Garamond", serif;
}

.service h3
{
  font-style: normal;
  padding-top: 20px;
  font-size: 17px;
  width: auto;
  color: black;
}

.service p
{
  font-style: normal;
  padding-top: 0px;
  font-size: 13px;
  width: auto;
  color: black;
}

.service em
{
  font-weight: bold;
  color: indianred;
  font-style: normal;
}

.service img
{
  border-radius: 50%;
  border: 10px;
  max-width: 50%;
  max-height: 50%;
  box-shadow: 3px 3px 5px grey;
  transition: transform 0.2s;
  padding-bottom: 0px;
  padding-top: 0px;
  display: inline-flex;
}

.navbar
{
  background-color: hsl(210, 85%, 15%);
}

.navbar-brand 
{
  margin-right: 0px;
  margin-left: 5px;
  background-color: transparent;
  font-family: "Garamond", sans-serif;
  color: white;
}

.navbar-brand:hover
{
  text-decoration: none;
  color: white;
  cursor: default;
}

.navbar-nav 
{
  margin: 0 30px;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.navbar-nav .nav-item .nav-link
{
  margin-right: 5px;
  text-align: center;
  font-family: "Lato", sans-serif;
  background-color: transparent;
  color: white;
}

.navbar-nav .nav-item .nav-link:hover
{
  color: hsl(40, 60%, 65%);
}

.navbar-icons 
{
  display: flex;
  align-items: right;
  color: white;
}

.navbar-icons .icon 
{
  margin-left: 15px;
  color: white;
}

.navbar-icons .icon:hover 
{
  color: hsl(40, 60%, 65%);
}

@font-face 
{
  font-family: 'Arvo';

  src: url('Arvo-Regular.ttf') format('truetype');
}

@font-face 
{
  font-family: 'Lora';

  src: url('Lora-VariableFont_wght.ttf') format('truetype');
}

@font-face 
{
  font-family: 'Garamond';

  src: url('EBGaramond-Regular.ttf') format('truetype');
}

.loader {
  position: relative;
  width: 80px;
  margin: 100px auto;
}

.livestreams
{
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
}

.livestreams h2
{
  background-color: transparent;
  color: black;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: normal;
}

.livestreams h3
{
  font-style: normal;
  font-weight: normal;
  color: black;
  padding: 15px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}

.livestreams a
{
  text-decoration: none;
  width: 30%;
  height: 30%;
  background-color: transparent;
  margin-left: 165px;
  margin-right: 45px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.livestreams a:hover
{
  border-radius: 10px;
  border: 1px transparent #000;
  background-color: transparent;
  transition: border-radius 0.0s ease-in-out;
}

.live-images
{
  display: inline-flex;
  margin: 0px;
  padding: 0px;
}

.livestreams img
{
  border-radius: 5%;
  border: 10px;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 3px 3px 5px grey;
  transition: transform 0.2s;
  padding: 0px;
  margin: 0px;
}

.livestreams img:hover
{
  transform: scale(1.05);
}